@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jumbotron {
    color: #141414;
    height: 95vh;
    margin-bottom: 0;
    text-transform: uppercase;
}

hr {
    border: 1px solid #141414;
}

.cover-text {
    padding-top: 10%;
    position: relative;
}

.social-buttons a {
    margin-left: 15px;
}

.my-story {
    height: 95vh;
    background-color: #122A4D;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bio {
    margin: auto;
    position: relative;
    padding-left: 25px;
}

.picture {
    margin: auto;
    position: relative;
}

.picture img {
    width: 300px;
}

.experience {
    height: 95vh;
    padding: 50px;
    text-align: center;
}

/* Skill Bars */
.container-skillbar {
    width: 100%;
    padding-top: 30px;
    padding-right: 2%;
    padding-left: 2%;
    height: auto;
    overflow: none;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #EFEFEF;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;    
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #FFF;
    background: #6ADCFA;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;    
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height: 30px;
    width: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
}

.drivense {
    background-color: #BC0000;
    color: #F0F0F0;
    height: 1000px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.drivense .pictures {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
}

.projects {
    height: 300px;
    background-color: #048500;
    color: #F0F0F0;
    padding: 20px;
}