@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800');

:root {
    font-size: 16px;
    font-family: 'Montserrat', 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-track {
	background: #1E1E24;
}

body::-webkit-scrollbar-thumb {
	background: #192BC2;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    margin: 0;
}

h4 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0;
}

hr {
    width: 50%;
}

.navbar {
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(#753A88,#CC2B5E);
    align-items: center;
}

.navbar .logo-container {
    display: flex;
    float: left;
    height: 100%;
    align-items: center;
    margin-left: 1rem;
}

.navbar .link-container {
    display: flex;
    float: right;
    height: 100%;
    align-items: center;
    margin-right: 3rem;
}

.navbar .link-container a {
    display: block;
    color: #FBFEF9;
    text-align: center;
    padding: 0.5rem 1rem;
}

.navbar .link-container a:hover {
    color: #5cc8ff;
    transform: scale(1.05);
}

.navbar .link-container .icon {
    display: none;
}

/* header */
.header {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: linear-gradient(#000428, #004E92);
    color: #FBFEF9;
}

.header .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .text .social-links {
    padding-top: 2rem;
}

.header .picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-story {
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

.my-story h2 {
    text-align: center;
}

.my-story .paragraph {
    padding: 0 1rem;
}

.my-story .paragraph h4 {
    padding: 1rem 0;
    font-weight: 500;
}

.my-story .paragraph .section-title {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem 0;
}

.my-experience {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    text-align: center;
}

/* Skill Bars */
.container-skillbar {
    padding: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillbar {
    position: relative;
    display: block;
    padding-bottom: 15px;
    width: 85%;
    background: #EFEFEF;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;    
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    font-weight: bold;
    font-size: 13px;
    color: #FFF;
    background: #6ADCFA;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;    
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height: 30px;
    width: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    color: #FBFEF9;
    color: rgba(0, 0, 0, 0.5);
}

.drivense {
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

.drivense h2 {
    text-align: center;
}

.drivense hr {
    width: 25%;
}

.drivense .section {
    padding: 0.50rem 1rem;
}